In [1]:
from contabilidad import *

# Ejemplo

Al principio del año se comienza un nuevo libro diario

In [2]:
libro_diario_2022 = LibroDiario()

El libro diario funciona como una lista (es clase hija de la clase list) y para añadir asientos al libro se utiliza el método .append

Cada asiento se compone de un concepto, unos diccionarios para el debe y otro para el haber (cuenta:cantidad, cuenta:cantidad) y una fecha

In [3]:
libro_diario_2022.append(Asiento("Ampliación de capital", {572: 750000}, {100:750000}, dt.date(2022, 3, 14)))
libro_diario_2022.append(Asiento("Pago del alquiler", {621: 150000}, {572:150000}, dt.date(2022, 4, 10)))
libro_diario_2022.append(Asiento("Compra de maquinaria", {213: 50000}, {572:50000}, dt.date.today()))
libro_diario_2022.append(Asiento("Compra de mercaderías", {600: 800000}, {572:500000, 400:300000}, dt.date.today()))
libro_diario_2022.append(Asiento("Ventas (NO ENTIENDO)", {572: 1800000}, {700:1800000}, dt.date.today()))
libro_diario_2022.append(Asiento("Pago de sueldos", {640: 160000}, {572:160000}, dt.date.today()))
libro_diario_2022.tabla()

,Número de asiento,Fecha,Concepto,Cuenta,Nombre de cuenta,Debe,Haber
0,0,2022-03-14,Ampliación de capital,572,"Bancos e instituciones de crédito c/c vista, e...",750000,None
1,0,2022-03-14,Ampliación de capital,100,Capital social,None,750000
2,1,2022-04-10,Pago del alquiler,621,Arrendamientos y cánones,150000,None
3,1,2022-04-10,Pago del alquiler,572,"Bancos e instituciones de crédito c/c vista, e...",None,150000
4,2,2023-01-25,Compra de maquinaria,213,Maquinaria,50000,None
5,2,2023-01-25,Compra de maquinaria,572,"Bancos e instituciones de crédito c/c vista, e...",None,50000
6,3,2023-01-25,Compra de mercaderías,600,Compras de mercaderías,800000,None
7,3,2023-01-25,Compra de mercaderías,572,"Bancos e instituciones de crédito c/c vista, e...",None,500000
8,3,2023-01-25,Compra de mercaderías,400,Proveedores,None,300000
9,4,2023-01-25,Ventas (NO ENTIENDO),572,"Bancos e instituciones de crédito c/c vista, e...",1800000,None
10,4,2023-01-25,Ventas (NO ENTIENDO),700,Ventas de mercaderías,None,1800000
11,5,2023-01-25,Pago de sueldos,640,Sueldos y salarios,160000,None
12,5,2023-01-25,Pago de sueldos,572,"Bancos e instituciones de crédito c/c vista, e...",None,160000

In [4]:
libro_diario_2022.save_csv("libro_diario_2022")

In [5]:
libro_diario = LibroDiario()
libro_diario.load_csv('libro_diario_2022')
libro_diario.tabla()

,Número de asiento,Fecha,Concepto,Cuenta,Nombre de cuenta,Debe,Haber
0,0,2022-03-14,Ampliación de capital,572,"Bancos e instituciones de crédito c/c vista, e...",750000,None
1,0,2022-03-14,Ampliación de capital,100,Capital social,None,750000
2,1,2022-04-10,Pago del alquiler,621,Arrendamientos y cánones,150000,None
3,1,2022-04-10,Pago del alquiler,572,"Bancos e instituciones de crédito c/c vista, e...",None,150000
4,2,2023-01-25,Compra de maquinaria,213,Maquinaria,50000,None
5,2,2023-01-25,Compra de maquinaria,572,"Bancos e instituciones de crédito c/c vista, e...",None,50000
6,3,2023-01-25,Compra de mercaderías,600,Compras de mercaderías,800000,None
7,3,2023-01-25,Compra de mercaderías,572,"Bancos e instituciones de crédito c/c vista, e...",None,500000
8,3,2023-01-25,Compra de mercaderías,400,Proveedores,None,300000
9,4,2023-01-25,Ventas (NO ENTIENDO),572,"Bancos e instituciones de crédito c/c vista, e...",1800000,None
10,4,2023-01-25,Ventas (NO ENTIENDO),700,Ventas de mercaderías,None,1800000
11,5,2023-01-25,Pago de sueldos,640,Sueldos y salarios,160000,None
12,5,2023-01-25,Pago de sueldos,572,"Bancos e instituciones de crédito c/c vista, e...",None,160000

In [14]:
libro_mayor_2022 = LibroMayor(libro_diario_2022)

In [15]:
balance_2022 = Balance(libro_mayor_2022)
balance_2022.pyg_grupos
balance_2022.pyg_totales

{'A.1) RESULTADO DE EXPLOTACIÓN': -1800000,
 'A.2) RESULTADO FINANCIERO': 0,
 'A.3) RESULTADO ANTES DE IMPUESTOS (A.1+A.2)': -1800000,
 'A.4) RESULTADO DEL EJERCICIO PROCEDENTE DE OPERACIONES CONTINUADAS (A.3 + impuestos)': -1800000,
 'B) OPERACIONES INTERRUMPIDAS': 0,
 'A.5) RESULTADO DEL EJERCICIO (A.4+B)': -1800000}

In [13]:
print(balance_2022.totales)

balance_2022.totales['Activo']-balance_2022.totales['Pasivo']-balance_2022.totales['Patrimonio neto']

{'Activo': 1740000, 'Patrimonio neto': 750000, 'Pasivo': 300000}

690000

In [9]:
balance_2022.libro.totales

{100: -750000,
 213: 50000,
 400: -300000,
 572: 1690000,
 600: 800000,
 621: 150000,
 640: 160000,
 700: -1800000}